/* Error: It's not clear which file to import. Found:
 *   src\sections\_tema.scss
 *   src\sections\tema.scss
 *   ,
 * 2 | @use './tema.scss';
 *   | ^^^^^^^^^^^^^^^^^^
 *   '
 *   src\sections\main.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   src\\sections\\_tema.scss\a   src\\sections\\tema.scss\a   \2577 \a 2 \2502  @use './tema.scss';\a   \2502  ^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\sections\\main.scss 2:1  root stylesheet";
}
