.header {
    background-color: #1A0000;
    position: relative;

    &__theme {
        display: flex;
        flex-direction: column; // staplar auth under ikonerna 
        align-items: flex-end; // allt till höger
        gap: 0.5rem;
        margin-right:20px;
        cursor: pointer;

        &-btn {
            color: rgb(255, 255, 255);
            font-size: 1rem;
            align-items: right;
            border: none;
            background-color: transparent;
             cursor: pointer;

            &-lightmode {
                color: yellow;
            }

            &-darkmode {
                color: rgb(108, 108, 106);
            }
        }

        &-icons {
            display: flex;
            gap: 0.5rem;
            margin-top: 2rem;
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 270px;
        margin-top: 10px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-button {
        background-color: #1A0000;
        color: white;
        font-size: 1.3rem;
        border: none;
        cursor: pointer;
        margin: 90px 0 20px 0;
    }

    &__auth-buttons {
        display: flex;
        gap: 1.5rem;
        color: white;
        margin-bottom: 2rem;
        
    }

    &__nav {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
        transition: opacity 0.4s ease, transform 0.4s ease;
        background-color: #0C0000;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        animation: navfadeandscale .66s cubic-bezier(.53, .52, .04, 1.06) 0s 1 both;

        &--active {
            display: flex; // visas när klassen läggs till
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1; // synlig
            visibility: visible;
            transform: scale(1); // växer till normal storlek
        }

        &-logo {
            position: absolute;
            top: 3rem;
            left: 52%;
            transform: translateX(-50%);
            max-width: 270px;

        }

        &-close {
            position: absolute;
            top: 2.5rem;
            left: 1.1rem;
            font-size: 2.3rem;
            border: 0;
            color: white;
            cursor: pointer;
            background-color: #0C0000;
        }

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: static;
            margin-left: 3.6rem;
            margin-top: -8rem;
            padding: 0;
        }

        &-item {
            margin: 0.3rem 0;
            font-size: 2rem;
            width: 260px;
            text-align: left;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.close-menu {
    font-size: 1rem;
}

.divider-btn {

    color: rgb(118, 113, 113);
}